<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a><img src='https://www.nicepng.com/png/full/214-2148603_you-eat-ready-to-eat-food-icon.png', width='50' heigth='50'>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">Restaurants Data</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/plots">Data Visualization</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/prediction">Price Prediction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recomenderall">Recommender System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/classify">Image Classifier</a>
      </li>
    </ul>
  </div>
</nav