{% extends 'layout.html'%}

{% block body%}
    <div class="row">

        <div class="col-md-6">
            <h4>Place Types in Jabodetabek</h4>
            <div class="chart mt-1" id="dist-type5">
            </div>
            <img src='static\images\Place Types in Jabodetabek.png'>
        </div>

        <div class="col-md-6">
            <h4>Amount of Restaurant in Jabodetabek</h4>
            <div class="chart mt-1" id="dist-type1">
                <img src='static\images\Amount of Restaurant in Jabodetabek.png'>
            </div>

        <div class="col-md-6">
            <h4>Amount of Restaurant Based on Kec in DKI Jakarta</h4>
            <div class="chart mt-1" id="dist-type2">
                <img src='static\images\Amount of Restaurant Based on Kec in DKI Jakarta.png'>
            </div>
        </div>

        <div class="col-md-6">
            <h4>Average Price for 2 in Jabodetabek</h4>
            <div class="chart mt-1" id="dist-type3">
            </div>
            <img src='static\images\Average Price for 2 in Jabodetabek.png'>
        </div>


    
{% endblock body%}